<section id="explore-yoxi" class="explore-yoxi has-margin-bottom-xl">
	<div class="container">
		<div class="row">
			<div class="column is-offset-2-md is-9-md">
				<header class="is-relative">
					<span class="rectangle right small"></span>
					<h2 class="section-heading is-relative">
						Explore our point of view or join our conversations
					</h2>
				</header>
				<ul class="is-unstyled has-padding-top-medium is-marginless">
					<li><a href="#" class="btn btn-outline"><i class="fa fa-fw fa-facebook"></i>&nbsp;Facebook</a></li>
					<li><a href="#" class="btn btn-outline"><i class="fa fa-fw fa-twitter"></i>&nbsp;Twitter</a></li>
					<li><a href="#" class="btn btn-outline"><i class="fa fa-fw fa-medium"></i>&nbsp;Medium</a></li>
					<li><a href="#" class="btn btn-outline"><i class="fa fa-fw fa-link"></i>&nbsp;Maptia</a></li>
				</ul>
			</div>
		</div>
	</div>
</section>
