<section id="get-in-touch" class="get-in-touch has-margin-bottom-large">
	<div class="container">
		<div class="row">
			<div class="column is-offset-1-md is-offset-2-lg is-9-lg">
				<header class="is-relative">
					<span class="rectangle left"></span>
					<h2 class="section-heading is-relative">
						To get in touch or submit work for consideration, send us a signal
					</h2>
				</header>
				<form action="" class="has-padding-top-medium-md">
					<input type="text" placeholder="What do you call yourself?">
					<input type="text" placeholder="What do you call yourself?">
					<input type="text" placeholder="What do you call yourself?">
					<input type="text" placeholder="What do you call yourself?">
					<input type="submit" value="Transmit" class="btn-outline">
				</form>
			</div>
		</div>
	</div>
</section>