<section id="what-is-yoxi" class="what-is-yoxi has-margin-bottom-xl">
	<div class="container">
		<div class="row">
			<header class="column is-offset-1-md is-offset-2-lg is-relative">
				<span class="rectangle left"></span>
				<h2 class="section-heading is-relative is-11-md">
					How might we uncover prosperous paths to a beautiful future?
				</h2>
			</header>
		</div>
		<div class="row">
			<div class="column is-offset-2-md is-offset-4-lg is-relative">
				<div class="has-padding-left-md">
					<p>At Yoxi, we don’t presume to know, especially as the rapid pace of global change intensifies and interconnected systems become more complex. But we are driven by a passion for mastering the art of asking better questions in order to create better solutions. And, with the support and resources of TTSL, our parent organization, we employ a variety of tools to conduct our experiments around creating positive social impact via innovative market solutions. We see our investments in extraordinary leaders as humble yet heroic, arriving at a critical moment in time, and right-sized for what’s needed to deepen and extend meaningful inquiry. </p>
					
					<p>We invite people into our process who bring unlike minds with like hearts, a passion for pattern recognition, and a curiosity across industries and disciplines. Like the Mars Rover, Yoxi is designed to probe. Our mission is to celebrate exploration itself, because we believe that inspiration can come from anywhere, and impact demands a long view. As a media-savvy organization, we synthesize our learnings into compelling narratives that link the explorers we support across the ecosystems they operate in. As these stories unfold, a beautiful future is revealed through our deep commitment to embracing the unknowns in humanity. </p>
					
					<p>In short, Yoxi is a social innovation prober. We make humble and heroic investments that arrive when the art of questioning is mission-critical to creating real impact.</p>
				</div>
			</div>
		</div>
	</div>
</section>