<section id="who-is-yoxi" class="who-is-yoxi has-margin-bottom-xl">
	<div class="container">
		<div class="row">
			<header class="column is-offset-2-md is-12-until-md is-9-md is-relative has-padding-bottom">
				<span class="rectangle right small offset-large"></span>
				<h2 class="section-heading is-relative is-marginless">
					Who is behind Yoxi and its mission?
				</h2>
			</header>
		</div>

		<div class="row">
			<div class="column is-10-md">
				<div class="bios has-margin-top-large">

					{% for person in site.data.bios %}
					<article class="bio has-margin-bottom-large">
						<a href="#" class="is-link-wrapper no-effects js-control bio-toggle">
							<div class="is-flex-md align-items-end">
								<figure class="bio-image has-padding-right-md is-marginless">
									<img src="{{person.image | prepend: site.baseurl}}" alt="">
								</figure>

								<div class="bio-quote">
									<header class="has-padding-right-large-lg has-padding-bottom-large">
										<p class="bio-question is-marginless">{{person.question}}</p>
									</header>
									<p class="bio-cite is-color-primary-dark is-strong is-marginless is-flex is-align-center">
										<span class="is-flex-expand">{{person.name}}, {{person.title}}</span>
										<span class="is-block leading-0">
											<button class="is-color-primary-dark">
												<i class="fa fa-caret-down bio-icon-reveal is-fs-2"></i>
											</button>
										</span>
									</p>
									<svg class="bio-quote-tail" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
										<polygon points="0 0 0 31.65 31.64 0 0 0"/>
									</svg>
								</div>
							</div>
							<div class="is-offset-2-md is-10-md has-padding-left-large-md has-padding-top-medium-md has-padding-bottom">
								<div class="bio-text">
									{{person.bio | markdownify}}
									<p class="is-color-primary-dark has-text-center is-marginless">
										<i class="fa fa-caret-up bio-icon-close is-fs-2"></i>
									</p>
								</div>
							</div>

						</a>
					</article>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
</section>
