<section class="site-header-container">
	<header id="site-header" class="site-header is-fixed to-top click-through is-marginless">
		<a class="is-link-wrapper" href="/">
			<h1 class="is-seo-hidden">{{site.title}}</h1>
			<img class="site-logo is-block is-marginless" src="{{ "assets/imgs/Logo.svg" | prepend: site.baseurl }}" alt="{{site.title}} Logo">
		</a>
		<div class="site-nav">
			<button class="nav-toggle"><i class="fa fa-plus"></i></button>
			<nav class="nav-links">
				<a class="nav-item is-link-wrapper is-strong" href="#what-is-yoxi">What is Yoxi and why does it fund exploration?</a>
				<a class="nav-item is-link-wrapper is-strong" href="#who-is-yoxi">Who is behind Yoxi and its mission?</a>
				<a class="nav-item is-link-wrapper is-strong" href="#how-has-yoxi-evolved">How has Yoxi evolved and what efforts has it supported?</a>
				<a class="nav-item is-link-wrapper is-strong" href="#get-in-touch">How can I get in touch or submit my project for considerations?</a>
			</nav>
		</div>
	</header>
</section>