<section class="site-header-container">
	<header id="site-header" class="site-header is-fixed to-top click-through is-marginless">
		<a class="is-link-wrapper" href="/">
			<h1 class="is-seo-hidden">{{site.title}}</h1>
			<img class="site-logo is-block is-marginless" src="{{ "assets/imgs/Logo.svg" |  | prepend: site.baseurl | prepend: site.url }}" alt="{{site.title}} Logo">
		</a>
		<div class="site-nav">
			<button class="nav-toggle"><i class="fa fa-plus"></i></button>
			<nav class="nav-links">
				{% assign sections = site.sections | sort: "position" %}
				{% for section in sections %}
					<a class="nav-item is-link-wrapper is-strong" href="#{{section.section_id}}">{{section.title}}</a>
				{% endfor %}
			</nav>
		</div>
	</header>
</section>