<section id="{{page.section_id}}" class="{{page.section_id}} has-margin-bottom-xl">
	<div class="container">
		<div class="row">
			<header class="column {{page.classes.header}} is-relative">
				<span class="rectangle {{page.classes.square}}"></span>
				<h2 class="section-heading is-relative {{page.classes.heading}}">
					{{page.title}}
				</h2>
			</header>
		</div>
		<div class="row">
			<div class="column {{page.classes.content}} is-relative">
				{{page.content}}
			</div>
		</div>
	</div>
</section>